/* Forms */

/*removes dotted outline on submit buttons when clicking in firefox */
input[type="submit"]::-moz-focus-inner {
  border: none;
}

form ol {
  list-style: none;
  margin: 0 0 1em 0;
}

form ol ol {
  margin-left: 0;
}

form ol li {
  list-style-position: outside;
  margin: 0 0 1em 0;
}

/*list-style-position fixes IE label margin bug*/
form ol ol li {
  list-style-position: outside;
  margin: 0 0 .25em 0;
}

form ol li.error input {
  background: #FBE3E4;
}

p.inline-errors {
  color: #D12F19;
}

form ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px;
}

form abbr {
  border-bottom: 0;
}

label {
  display: block;
}

.required label {
  font-weight: bold;
}

.checkbox_field label,
.radio_field label {
  font-weight: normal;
}

a.cancel {
  color: #7d0d0d;
}

.inline-hints {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 0.25em;
}

/* Fieldsets */
fieldset {
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  margin: 0 0 1.5em 0;
  padding: 1.5em 1.5em 1em 1.5em;
}

fieldset fieldset,
fieldset fieldset fieldset {
  border: 0;
  padding: 0;
}

legend {
  font-weight: bold;
}
.ie6 legend, .ie7 legend { margin-left: -7px; }

fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0;
}

fieldset.buttons li {
  display: inline;
}

.radio fieldset {
  margin: 0;
  padding: 0;
}

/* Text fields */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px;
}
.ie6 input {
  vertical-align: text-bottom;
}

input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor:default;
}

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle;
}

.radio label {
  padding: 0;
}

/* Textareas */
textarea {
  font-size: inherit;
  height: 200px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  width: 440px;
  overflow: auto;
}

/* Select fields */
fieldset .select select {
  width: 200px;
  font-size: 0.9em;
}

optgroup {
  margin: 0 0 .5em 0;
}

/* Date & Time */
form ol li.date ol li,
form ol li.time ol li {
  display: inline;
}

form ol li.datetime ol li {
  display: inline-block;
}

form ol li.datetime select,
form ol li.date select,
form ol li.time select {
  display: inline;
  width: auto;
}

form ol li.date label,
form ol li.time label {
  display: none;
}
