body { 
  color: #222; 
  font-size: 13px;
  font-family: arial, "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; 
}

h1, h2, h3, h4, h5, h6 { 
  color: #111; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
div.error {
  background: #FBE3E4;
  color: #D12F19;
  border-color: #FBC2C4;
}
div.error a { color: #D12F19; }

div.notice {
  background: #FFF6BF;
  color: #817134;
  border-color: #FFD324;
}
div.notice a { color: #817134; }

div.success {
  background: #E6EFC2;
  color: #529214;
  border-color: #C6D880;
}
div.success a { color: #529214; }

/* Misc classes and elements */

/* Use a .box to create a padded box inside a column.  */ 
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #eee;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}

/* Clearfix hack I love you */
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
