/* Forms */

label { font-weight: bold; }
.checkbox_field label, .radio_field label { font-weight: normal; }

form .legend {margin-bottom: 1em;}
a.cancel      {color: #7d0d0d;}


/* Fieldsets */
fieldset           {margin: 0 0 1.5em 0; background: #f1f1f1; padding: 1.5em 1.5em 1em 1.5em; border: 1px solid #e3e3e3;}
fieldset fieldset  {padding: 0; border: 0;}
legend             {font-weight: bold;}

/* Text fields */
input[type="text"] {width: 300px; margin:0 0.5em 0.5em 0; }
input[type="text"] {padding:5px; }


/* Textareas */
textarea            {width: 440px; height: 200px; margin:0 0.5em 0.5em 0; padding:5px;}

/* Select fields */
select              { width:200px; }
select:focus        { }
