/* Tables */

table   { margin-bottom: 1.4em; width: 100%; }
th      { border-bottom: 2px solid #ccc; font-weight: bold; text-align: left; }
td      { border-bottom: 1px solid #ddd; }
caption, th,td {
  padding: 4px 10px 4px 0;
}
tfoot   { font-style: italic; }
caption { background: #ffc; }

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; } 
