/* Headings */

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h1 { font-size: 2.2em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 1.6em; margin-bottom: 0.75em; }
h3 { font-size: 1.3em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.1em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; margin-bottom: 1.5em; }
h6 { font-size: 1em;  }

/* Text elements */

p           { margin: 0 0 1em; line-height: 1.4; }
p.last      { margin-bottom: 0; }
p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */
img         { margin: 0 0 1.5em; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin-top: 1.5em; font-style: italic; }
del         { color:#666; }

a:focus, 
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; background: #ffc; }
dfn         { font-weight: bold; }
pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5; }
pre.code    { background: #000; color: #fff; }
tt          { display: block; margin: 1.5em 0; line-height: 1.5; }
