<div>
  <div style="padding: 15px; text-align: right;">
    <% if params[:flutie] -%>
    <%= link_to "Application Styles", :flutie => false %>
    <% else -%>
    <%= link_to "Default Styles", :flutie => true %>
    <% end -%>
  </div>

  <h1>This is an example page of our basic styles</h1>
  <h2>This is an h2 level heading</h2>

  <p>Wolbachia pipientis is a maternally transmitted obligate intracellular bacterium that chronically infects thousands of insect species, as well as a range of other arthropods and filarial nematodes. Wolbachia bacteria can induce various reproductive abnormalities in hosts that promote the bacteria's vertical transmission and spread. The discordance of host and Wolbachia phylogenies indicates that these bacteria have moved between host lineages on <a href="#">multiple occasions</a> during their evolutionary history, although the mechanisms that facilitate the transfer of Wolbachia are not well understood. The success of such host shifts is inherently reliant on the ability of the bacteria to adapt to new intracellular environments.</p>

  <p>The experimental transfer of Wolbachia between host species (transinfection) has proved technically challenging, and the success of such experiments is difficult to predict. Despite an increasing number of reports that document Wolbachia transinfection, many attempts to experimentally infect host species are unsuccessful due to poor maternal transmission rates in the novel host (40). In some cases, transferred strains are extremely stable and maternally inherited at very high rates. This situation occurs primarily when Wolbachia is transferred within or between closely related species in a family or genus. In other cases, the infecting strain appears to be poorly adapted to its new host, showing fluctuating infection densities and various degrees of transovarial transmission. The result is often the loss of infection within a few host generations. Not surprisingly, Wolbachia infections tend to be more susceptible to loss when they have been transferred between phylogenetically distant hosts (17, 35). Similarly, those species that do not naturally harbor Wolbachia can be especially challenging to successfully transinfect.</p>

  <blockquote>
    <p>Blockquoted text.  Not too long ago, two friends of mine were talking to a Cuban refugee, a businessman who had escaped from Castro, and in the midst of his story one of my friends turned to the other and said, "We don't know how lucky we are." And the Cuban stopped and said, "How lucky you are? I had someplace to escape to." And in that sentence he told us the entire story. If we lose freedom here, there's no place to escape to. This is the last stand on earth.</p>
  </blockquote>    

  <h3>This is an h3 level heading</h3>
  <p>Senator Humphrey last week charged that Barry Goldwater, as President, would seek to eliminate farmers. He should do his homework a little better, because he'll find out that we've had a decline of 5 million in the farm population under these government programs. He'll also find that the Democratic administration has sought to get from Congress [an] extension of the farm program to include that three-fourths that is now free. He'll find that they've also asked for the right to imprison farmers who wouldn't keep books as prescribed by the federal government. The Secretary of Agriculture asked for the right to seize farms through condemnation and resell them to other individuals. And contained in that same program was a provision that would have allowed the federal government to remove 2 million farmers from the soil.</p>

  <br />
  <hr />
  <br />

  <h1>This is an h1 heading</h1>
  <h2>This is an h2 heading</h2>
  <h3>This is an h3 heading</h3>
  <h4>This is an h4 heading</h4>
  <h5>This is an h5 heading</h5>
  <h6>This is an h6 heading</h6>

  <br />
  <hr />
  <br />

  <h1>This is an h1 heading. It's extremely long and will undoubtedly wrap on a line or two by the time it's completely and utterly finished in ultimate perpetuity.</h1>
  <p>And this is some text in a paragraph below it. Looks good. To understand what is really going on in a colony of ants or bees, Dr. Dornhaus, an assistant professor of ecology and evolutionary biology at the University of Arizona, tracks the little creatures individually — hence the paint and the numbers. Individual ants, she said, have “their own brains and legs, as well as complex and flexible behaviors.” She continues, “Each ant’s behavior and the rules under which it operates generate a pattern for the colony, so it’s crucial to discover its individual cognitive skill.”</p>
  <h2>This is an h2 heading. It's also far too long for a typical headline but we need to know what it will look like when it wraps. I'm sure you understand. Don't read too far in to it, if at all possible.</h2>
  <p>And this is some text in a paragraph below it. The study identifies that there are two scenarios in which a group can act as a unit. The first is when all the members are very closely related, and carry the same genes, so ensuring their genes are passed on to the next generation. The second is when the group's behaviour is controlled by a form of policing -in honey bee hives, for example, any egg not laid by the queen is destroyed by worker bees, to ensure only the queen's offspring survive. Both methods ensure that all the individuals involved are united in a common purpose.</p>
  <h3>This is an h3 heading that, as you can probably imagine, is going to be much too long than is typically desired but you have to understand there is a perfectly good reason.</h3>
  <p>And this is some text in a paragraph below it. Dr Andy Gardner, from the School of Biological Sciences at the University of Edinburgh, said: "We often see animals appearing to move in unison, such as bison or fish. However, what looks like a team effort is in fact each animal jostling to get to the middle of the group to evade predators.</p>
  <h4>This is an h4 heading</h4>
  <p>And this is some text in a paragraph below it. Looks good.Dr. Dornhaus is breaking new ground in her studies of whether the efficiency of ant society, based on a division of labor among ant specialists, is important to their success. To do that, she said, I briefly anesthetized 1,200 ants, one by one, and painted them using a single wire-size brush, with model airplane paint — Rally Green, Racing Red, Daytona Yellow.</p>

  <p>After recording their behavior with two video cameras aiming down on an insect-size stage, she analyzed 300 hours of videotape of the ants in action. She discovered behavior more worthy of Aesop’s grasshopper than the proverbial industrious ants.</p>


  <h2>List styles</h2>

  <ul>
    <li>Unordered list test</li>
    <li>Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Yet another element in the list</li>
    <li>Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  </ul>
  <ol>
    <li>Ordered list test</li>
    <li>Another list element</li>
    <li>Yet another element in the list</li>
    <li>How many things do you really need in a list</li>
  </ol>

  <ol>
    <li>Outer Ordered list item</li>
    <li>Outer Ordered list item
      <ul>
        <li>Nested Unordered list item</li>
        <li>Nested Unordered list item
          <ol>
            <li>Inner Nested Ordered list item</li>
            <li>Inner Nested Ordered list item</li>
          </ol>
        </li>
      </ul>
    </li>
    <li>Outer Ordered list item</li>
    <li>Outer Ordered list item
      <ol>
        <li>Nested Ordered list item</li>
        <li>Nested Ordered list item
          <ul>
            <li>Inner Nested Unordered list item</li>
            <li>Inner Nested Unordered list item</li>
          </ul>
        </li>
      </ol>
    </li>
  </ol>

  <dl>
    <dt>definition list dt</dt>
    <dd>definition list dd</dd>
    <dt>definition list dt</dt>
    <dd>definition list dd</dd>
    <dt>definition list dt</dt>
    <dd>definition list dd one</dd>
    <dd>definition list dd two</dd>
  </dl>			




  <h2>Basic form styles</h2>

  <form id="dummy" action="" method="post">
    <fieldset class="inputs">
      <h5 class="legend">Simple sample form</h5>

      <ol>
        <li class="string required title" id="dummy0_input">
          <label for="dummy0">Text input<abbr title="required">*</abbr></label>
          <input id="dummy0" name="dummy0" type="text" maxlength="255" size="50" value="This is some text" />
          <p class="inline-hints">this is some hint text</p>
        </li>
        <li class="string required title" id="dummy1_input">
          <label for="dummy1">Disabled text input<abbr title="required">*</abbr></label>
          <input id="dummy1" name="dummy1" type="text" maxlength="255" size="50" disabled="disabled" value="You're not allowed to enter text here" />
          <p class="inline-hints">You need to be an admin to edit this</p>
        </li>
        <li class="string required" id="dummy2_input">
          <label for="dummy2">Another field<abbr title="required">*</abbr></label>
          <input id="dummy2" name="dummy2" type="text" maxlength="255" size="50" value="" />
        </li>

        <li class="string required error" id="dummy3_input">
          <label for="dummy3">Text with error<abbr title="required">*</abbr></label>
          <input id="dummy3" name="dummy3" type="text" maxlength="255" size="50" value="" />
          <p class="inline-errors">can't be blank</p>
        </li>

        <li class="text required" id="dummy4_input">
          <label for="dummy4">Textarea<abbr title="required">*</abbr></label>
          <textarea cols="40" id="dummy4" name="dummy4" rows="20"></textarea>
        </li>

        <li class="file optional" id="dummy5_input">
          <label for="dummy5">File</label>
          <input id="dummy5" name="dummy5" size="30" type="file" />
        </li>

        <li class="password required" id="dummy6_input">
          <label for="dummy6">Password<abbr title="required">*</abbr></label>
          <input id="dummy6" maxlength="255" name="dummy6" size="50" type="password" value="pass" />
        </li>
      </ol>

    </fieldset>

    <fieldset class="inputs">
      <h5 class="legend">Select, checkboxes, lists</h5>

      <ol>
        <li class="select optional" id="dummy7_input">
          <label for="dummy7">Name</label>
          <select id="dummy7" name="dummy7">
            <option value=""></option>
            <option value="1">Ottawa</option>
            <option value="2">Calgary</option>
            <option value="3">Moosejaw</option>
          </select>
          <p class="inline-hints">this is some hint text</p>
        </li>

        <li class="select optional" id="dummy8_input">
          <label for="dummy8">Select with groups</label>
          <select id="dummy8" name="dummy8">
            <optgroup label="mammals">
              <option>dog</option>
              <option>cat</option>
              <option>rabbit</option>
              <option>horse</option>
            </optgroup>
            <optgroup label="reptiles">
              <option>iguana</option>
              <option>snake</option>
            </optgroup>
          </select>
        </li>

        <li class="select optional error" id="dummy9_input">
          <label for="dummy9">Select with error</label>
          <select id="dummy9" name="dummy9">
            <option value=""></option>
            <option value="1">Ottawa</option>
            <option value="2">Calgary</option>
            <option value="3">Moosejaw</option>
          </select>
          <p class="inline-errors">can't be blank</p>
        </li>

        <li class="radio optional" id="dummy10_input">
          <fieldset>
            <h5 class="legend">
              <span class="label">Radio Buttons</span>
            </h5>
            <ol>
              <li>
                <label for="dummy10_mastercard">
                  <input id="dummy10_mastercard" name="dummy10" type="radio" value="MasterCard" /> MasterCard
                </label>
              </li>
              <li>
                <label for="dummy11_discover">
                  <input id="dummy11_discover" name="dummy11" type="radio" value="Discover" /> Discover
                </label>
              </li>
              <li>
                <label for="dummy12_visa">
                  <input id="dummy12_visa" name="dummy12" type="radio" value="Visa" /> Visa
                </label>
              </li>
              <li>
                <label for="dummy13_american_express">
                  <input id="dummy13_american_express" name="dummy13" type="radio" value="American Express" /> American Express
                </label>
              </li>
            </ol>
          </fieldset>
          <p class="inline-hints">this is some hint text</p>
        </li>

        <li class="check_boxes optional" id="dummy14_input">
          <fieldset>
            <h5 class="legend"><span class="label">Checkboxes</span></h5>
            <ol>
              <li>
                <label for="dummy14_mastercard">
                  <input name="dummy14[]" type="hidden" value="" />
                  <input id="dummy14_mastercard" name="dummy14[]" type="checkbox" value="MasterCard" /> MasterCard
                </label>
              </li>
              <li>
                <label for="dummy14_discover">
                  <input name="dummy14[]" type="hidden" value="" />
                  <input id="dummy14_discover" name="dummy14[]" type="checkbox" value="Discover" /> Discover
                </label>
              </li>
              <li>
                <label for="dummy14_visa">
                  <input name="dummy14[]" type="hidden" value="" />
                  <input id="dummy14_visa" name="dummy14[]" type="checkbox" value="Visa" /> Visa
                </label>
              </li>
              <li>
                <label for="dummy14_american_express">
                  <input name="dummy14[]" type="hidden" value="" />
                  <input id="dummy14_american_express" name="dummy14[]" type="checkbox" value="American Express" /> American Express
                </label>
              </li>
            </ol>
          </fieldset>
        </li>

        <li class="datetime optional" id="dummy15_input">
          <fieldset>
            <h5 class="legend"><span class="label">Date and Time Selector</span></h5>
            <ol>
              <li>
                <label for="dummy15_1i">Year</label>
                <select id="dummy15_1i" name="dummy15(1i)">
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option selected="selected" value="2009">2009</option>
                  <option value="2010">2010</option>
                </select>
              </li>
              <li>
                <label for="dummy15_2i">Month</label>
                <select id="dummy15_2i" name="dummy15(2i)">
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option selected="selected" value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </li>
              <li>
                <label for="dummy15_3i">Day</label>
                <select id="dummy15_3i" name="dummy15(3i)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option selected="selected" value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </li>
              <li>
                <label for="dummy15_4i">Hour</label>
                <select id="dummy15_4i" name="dummy15(4i)">
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option selected="selected" value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </li>
              <li>
                <label for="dummy15_5i">Minute</label>
                <select id="dummy15_5i" name="dummy15(5i)">
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option selected="selected" value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                </select>
              </li>
            </ol>
          </fieldset>
        </li>

        <li class="date optional" id="dummy16_input">
          <fieldset>
            <h5 class="legend"><span class="label">Date Selector</span></h5>
            <ol>
              <li>
                <label for="dummy16_1i">Year</label>
                <select id="dummy16_1i" name="dummy16(1i)">
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option selected="selected" value="2009">2009</option>
                  <option value="2010">2010</option>
                </select>
              </li>
              <li>
                <label for="dummy16_2i">Month</label>
                <select id="dummy16_2i" name="dummy16(2i)">
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option selected="selected" value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </li>
              <li>
                <label for="dummy16_3i">Day</label>
                <select id="dummy16_3i" name="dummy16(3i)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option selected="selected" value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </li>
            </ol>
          </fieldset>
        </li>

        <li class="time optional" id="dummy17_input">
          <fieldset>
            <h5 class="legend"><span class="label">Time Selector</span></h5>
            <ol>
              <li>
                <label for="dummy17_4i">Hour</label>
                <select id="dummy17_4i" name="dummy17(4i)">
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option selected="selected" value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </li>
              <li>
                <span>:</span>
              </li>
              <li>
                <label for="dummy17_5i">Minute</label>
                <select id="dummy17_5i" name="dummy17(5i)">
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option selected="selected" value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                </select>
              </li>
            </ol>
          </fieldset>
        </li>

      </ol>
    </fieldset>

    <fieldset class="buttons">
      <ol>
        <li class="commit">
          <input id="dummy_submit" name="commit" type="submit" value="Submit" />
        </li>
        <li>
          <a class="cancel" href="#">Cancel</a>
        </li>
      </ol>
    </fieldset>

  </form>

  <h2>Miscellaneous Styles</h2>

  <div class="error">
    This is a &lt;div&gt; with the class <strong>.error</strong>.
  </div>
  <div class="notice">
    This is a &lt;div&gt; with the class <strong>.notice</strong>.
  </div>		
  <div class="success">
    This is a &lt;div&gt; with the class <strong>.success</strong>.
  </div>

  <p>
    <strong>&lt;strong&gt;</strong><br />
    <ins>&lt;ins&gt; inserted</ins><br />
    <del>&lt;del&gt; deleted</del><br />
    <dfn>&lt;dfn&gt; dfn</dfn><br />
    <em>&lt;em&gt; emphasis</em><br />
  </p>
  <p>
    <a>&lt;a&gt; anchor</a><br />
    <a href="http://www.google.com">&lt;a&gt; a + href</a><br />
  </p>
  <p>
    <abbr title="extended abbr text should show when mouse over">&lt;abbr&gt; abbr - extended text when mouseover.</abbr><br />
    <acronym title="extended acronym text should show when mouse over">&lt;acronym&gt; acronym - extended text when mouseover.</acronym><br />
  </p>
  <address>
    &lt;address&gt;<br />
    Donald Duck<br />
    Box 555<br />
    Disneyland
  </address>

  <h2>Table Styles</h2>

  <table summary="This is the summary text for this table."  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th class="">Table Header One</th>
      <th class="last">Table Header Two</th>
    </tr>
    <tr>
      <td>TD One</td>
      <td>TD Two</td>
    </tr>
    <tr>
      <td colspan="2">TD colspan 2</td>
    </tr>
  </table>

  <table summary="This is the summary text for this table."  border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Table Header One</th>
        <th>Table Header Two</th>
        <th>Table Header One</th>
        <th>Table Header Two</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">tfoot footer</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>TD One</td>
        <td>TD Two</td>
        <td>TD One</td>
        <td>TD Two</td>
      </tr>
      <tr>
        <td>TD One</td>
        <td>TD Two</td>
        <td>TD One</td>
        <td>TD Two</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>TD One</td>
        <td>TD Two</td>
        <td>TD One</td>
        <td>TD Two</td>
      </tr>
      <tr>
        <td>TD One</td>
        <td>TD Two</td>
        <td>TD One</td>
        <td>TD Two</td>
      </tr>
    </tbody>
  </table>

  <h2>Code Styles</h2>

  <pre>&lt;pre&gt;
What light
    through yonder window breaks</pre>

<code>&lt;code&gt;
User.new</code>

<pre class="code"><code>&lt;pre class="code"&gt;&lt;code&gt;
class User &lt; ActiveRecord::Base
  has_many :groups
  belongs_to :account

  def name
    [first_name, last_name].join(' ')
  end
end</code></pre>

  <tt>&lt;tt&gt;
    This tt text should be monospaced
    and 
    wrap as if 
    one line of text
    even though the code has newlines, spaces, and tabs. 
    It should be the same size as &lt;p&gt; text.
  </tt>

<hr />
<h1>Additional Styleguides</h1>
<hr />

<% @styleguides.each do |styleguide| %>
  <%= render :file => styleguide %>
<% end %>

</div>
