body {
  color: #333;
  font-size: 13px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "helvetica neue", Helvetica, arial, sans-serif;
}


/* Misc classes and elements */
/* Use a .box to create a padded box inside a column.  */
.box {
  background: #eee;
  margin-bottom: 16px;
  padding: 16px;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: 1px;
  margin: 0 0 12px;
  width: 100%;
}

hr.space {
  background: #fff;
  color: #fff;
}

/* for image replacement */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
}

/* Hide for both screenreaders and browsers
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
