/* Lists */

ul, ol {
  list-style-position: inside;
  margin-bottom: 1em;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-bottom: 1rem;
}

dl dt {
  font-weight: bold;
  margin-top: .5em;
  margin-top: .5rem;
}

dl dd {
  margin-bottom: 0;
}

dd {
  margin-left: .5em;
  margin-left: .5rem;
}

li {
  line-height: 1.4em;
}

ol ol, ol ul, ul ul, ul ol {
  margin-left: .75em;
  margin-left: .75rem;
}
