/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em;
}

h1 {
  font-size: 1.75em;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5em;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25em;
  font-size: 1.25rem;
}

h4 {
  font-size: 1em;
  font-size: 1rem;
}

h5 {
  font-size: .75em;
  font-size: .75rem;
}

h6 {
  font-size: .5em;
  font-size: .5rem;
}

/* Text elements */
p {
  line-height: 1.4em;
}

/* Use this if the image is at the top of the <p>. */
p img.top {
  margin-top: 0;
}

img {
  margin: 0 0 .75em;
  margin: 0 0 .75rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

address {
  font-style: italic;
  margin-top: 1em;
  margin-top: 1rem;
}

del {
  color:#666;
}

a, a:link {
  color: #1a4882;
  text-decoration: underline;
}

a:visited {
  color: #1a4882;
}

a:hover {
  color: #052246;
}

a:active, a:focus {
  color: #1a4882;
}

blockquote {
  border-left: 4px solid #d1d1d1;
  color: #666;
  font-style: italic;
  margin: 1em 0;
  margin: 1rem 0;
  padding-left: .75em;
  padding-left: .75rem;
}

strong {
  font-weight: bold;
}

em,
dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

pre, code {
  margin: .75em 0;
  margin: .75rem 0;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE */
}

pre, code, tt {
  font: .75rem 'andale mono', 'monotype.com', 'lucida console', monospace;
  font-size: .75em;
  font-size: .75rem;
  line-height: 1.4em;
}

pre.code {
  background: #000;
  color: #fff;
  padding: 1.25em;
  padding: 1.25rem;
}

tt {
  display: block;
  line-height: 1.4em;
  margin: 1rem 0;
}
