<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag :flutie %>
    <title>Flutie v1</title>

    <style type="text/css">
    /* Styleguide-specific styles */
    body {
      background-color: #dadada;
    }

    .switcher {
      margin: 30px auto 0;
      text-align: right;
      width: 880px;
    }

    .content {
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin: 30px auto;
      padding: 40px;
      width: 880px;
    }
    </style>

  </head>

  <body>

    <div class="switcher">
      <% if params[:flutie] %>
        <a href="?flutie=false">Application Styles</a>
      <% else %>
        <a href="?flutie=true">Default Styles</a>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
